<p>Bonjour ,{{ data.user.nom }}{{ data.user.prenom }},</p>
<p>Votre demande de participation à l'évenement  "{{ data.event.title }}" qui aura lieu le {{ data.event.eventDate|date('d/m/Y') }} a été refusé !</p>
<p>Désolé ! </p>
<p>L'équipe Karhabty</p>